<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>activationbymail</name>
            <displayName><![CDATA[Account activation by e-mail]]></displayName>
            <version><![CDATA[1.2]]></version>
            <description><![CDATA[This module allows your shop to validate e-mails by sending activation links]]></description>
            <author><![CDATA[Dominik Cebula]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>